---
interface Props {
	size?: string;
	dot?: boolean;
	href?: string;
	label?: string;
	class?: string;
	style?: string;
}
const { dot, href, label, size = "md" }: Props = Astro.props;
const className = Astro.props.class;
const style = Astro.props.style;

const sizeClass =
	size === "sm"
		? "h-7 text-xs px-2.5"
		: size === "lg"
			? "h-9 text-base px-4"
			: "h-8 text-sm px-3";
---
<a
	href={href}
	aria-label={label}
	class:list={["btn-regular rounded-lg", sizeClass, className]}
	style={style}
>
    {dot && <div class="h-1 w-1 bg-[var(--btn-content)] dark:bg-[var(--card-bg)] transition rounded-md mr-2"></div>}
    <slot></slot>
</a>
